body {
  font-size: 14px;
  text-align: center;
}


h1,
h3 {
  color: dodgerblue;
  text-align: center;
}

h3 {
  font-style: italic;
}

article {
  border: 1px solid seagreen;
  padding: 1rem;
  border-radius: 12%;
}

nav {
  text-align: center;
  color: blue;
  font-size: 20px;
}
